{% extends "@ICareUser/Layout/main.html.twig" %}
{% block content %}
    <section class="fullscreen" style="height: 626px;">
        <div class="container v-align-transform">
            <div class="row">

            </div>
            <!--end of row-->
            <div class="embelish-icons">
                <i class="ti-pencil-alt"></i>
                <i class="ti-check"></i>
                <i class="ti-envelope"></i>
                <i class="ti-announcement"></i>
                <i class="ti-signal"></i>
                <i class="ti-pulse"></i>
                <i class="ti-marker"></i>
                <i class="ti-layout"></i>
                <i class="ti-ruler-alt-2"></i>
                <i class="ti-eye"></i>
                <i class="ti-signal"></i>
                <i class="ti-pulse"></i>
            </div>
        </div>
        <!--end of container-->
    </section>
{% endblock %}