{% block stylesheets %}
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css"/>
    {% stylesheets
    'bundles/icareweb/global/plugins/font-awesome/css/font-awesome.min.css'
    'bundles/icareweb/global/plugins/simple-line-icons/simple-line-icons.min.css'
    'bundles/icareweb/global/plugins/bootstrap/css/bootstrap.min.css'
    'bundles/icareweb/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css'
    'bundles/icareweb/global/plugins/awesome-checkbox/build.css'
    'bundles/icareweb/global/css/components.min.css'
    'bundles/icareweb/global/css/plugins.min.css'
    'bundles/icareweb/layouts/layout2/css/layout.min.css'
    'bundles/icareweb/layouts/layout2/css/themes/blue.min.css'
    'bundles/icareweb/layouts/layout2/css/custom.css'
    'dist/app.css'
    output='bundles/icareweb/css/main.css' filter='cssrewrite' %}

    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% if app.environment == 'prod' %}
    {% endif %}

{% endblock %}