{% set currentRoute = app.request.attributes.get('_route') %}

<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false"
        data-auto-scroll="true" data-slide-speed="200">
        <li class="nav-item start {% if currentRoute == 'i_care_web_dashboard' %}active{% endif %}">
            <a href="{{ path('i_care_web_dashboard') }}" class="nav-link nav-toggle">
                <i class="icon-home"></i>
                <span class="title">{{ 'left_sidebar.dashboard'|trans }}</span>
                <span class="arrow"></span>
            </a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item {% if currentRoute == 'i_care_web_customer_index' %} active open{% endif %}">
                <a href="{{ path('i_care_web_customer_index') }}" class="nav-link nav-toggle">
                    <i class="fa fa-industry"></i>
                    <span class="title">{{ 'left_sidebar.customers'|trans }}</span>
                    {% if currentRoute == 'i_care_web_customer_index' %}
                        <span class="selected"></span>
                    {% endif %}
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item {% if currentRoute == 'i_care_employee_icare_members' %} active open{% endif %}">
                <a href="{{ path('i_care_employee_icare_members') }}" class="nav-link nav-toggle">
                    <i class="fa fa-user"></i>
                    <span class="title">{{ 'left_sidebar.icare_members'|trans }}</span>
                    {% if currentRoute == 'i_care_employee_icare_members' %}
                        <span class="selected"></span>
                    {% endif %}
                    <span class="arrow"></span>
                </a>
            </li>
        {% endif %}

        {% if (is_granted('ROLE_USER') and is_granted('ROLE_ADMIN') == false) %}
            <li class="nav-item {% if currentRoute == 'i_care_web_billing' %}active open{% endif %}">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-calculator"></i>
                    <span class="title">{{ 'left_sidebar.billing'|trans }}</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item {% if currentRoute == 'i_care_web_billing_customer_overview' %} active open{% endif %}">
                        <a href="{{ path('i_care_web_billing_customer_overview') }}" class="nav-link ">
                            <i class="fa fa-check-square-o"></i>
                            <span class="title">{{ 'left_sidebar.billing_overview'|trans }}</span>
                        </a>
                    </li>

                    <li class="nav-item {% if currentRoute == 'i_care_web_billing_setting' %} active open{% endif %}">
                        <a href="{{ path('i_care_web_billing_setting') }}" class="nav-link ">
                            <i class="fa fa-check-square-o"></i>
                            <span class="title">{{ 'left_sidebar.billing_setting'|trans }}</span>
                        </a>
                    </li>
                    <li class="nav-item {% if currentRoute == 'i_care_web_billing' %} active open{% endif %}">
                        <a href="{{ path('i_care_web_billing') }}" class="nav-link ">
                            <i class="fa fa-circle-o-notch"></i>
                            <span class="title">{{ 'left_sidebar.billing_cycle'|trans }}</span>
                        </a>
                    </li>
                    {#<li class="nav-item {% if currentRoute == 'i_care_web_billing_exception_month' %} active open{% endif %}">#}
                    {#<a href="{{ path('i_care_web_billing_exception_month') }}" class="nav-link ">#}
                    {#<i class="fa fa-cog"></i>#}
                    {#<span class="title">{{ 'left_sidebar.billing_exception_month'|trans }}</span>#}
                    {#</a>#}
                    {#</li>#}
                    {#<li class="nav-item {% if currentRoute == 'i_care_web_billing_payment' %} active open{% endif %}">#}
                    {#<a href="{{ path('i_care_web_billing_payment',{'id':23}) }}" class="nav-link ">#}
                    {#<i class="fa fa-cog"></i>#}
                    {#<span class="title">{{ 'left_sidebar.billing_payment'|trans }}</span>#}
                    {#</a>#}
                    {#</li>#}
                </ul>
            </li>
        {% endif %}

        {% if (is_granted('ROLE_ADMIN')) %}
            <li class="nav-item {% if currentRoute == 'i_care_web_billing' %}active open{% endif %}">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-calculator"></i>
                    <span class="title">{{ 'left_sidebar.billing'|trans }}</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item {% if currentRoute == 'i_care_web_billing_admin_overview' %} active open{% endif %}">
                        <a href="{{ path('i_care_web_billing_admin_overview') }}" class="nav-link ">
                            <i class="fa fa-check-square-o"></i>
                            <span class="title">{{ 'left_sidebar.billing_overview'|trans }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}

        <!--
        <li class="nav-item start {% if currentRoute == '' %}active{% endif %}">
            <a href="" class="nav-link nav-toggle">
                <i class="fa fa-dollar"></i>
                <span class="title">{{ 'left_sidebar.collection'|trans }}</span>
                <span class="arrow"></span>
            </a>
        </li>
        -->

        {% if (is_granted('ROLE_USER') and is_granted('ROLE_ADMIN') == false) %}
            <li class="nav-item {% if currentRoute == 'i_care_web_employee_upload' %} active open{% endif %}">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-users"></i>
                    <span class="title">{{ 'left_sidebar.employees'|trans }}</span>
                    {% if currentRoute == 'i_care_web_employee_upload' %}
                        <span class="selected"></span>
                    {% endif %}
                    <span class="arrow"></span>
                </a>

                <ul class="sub-menu">
                    <li class="nav-item {% if currentRoute == 'i_care_web_employee_upload' %} active open{% endif %}">
                        <a href="{{ path('i_care_employee_import_mapping') }}" class="nav-link ">
                            <i class="icon-cloud-upload"></i>
                            <span class="title">{{ 'left_sidebar.employees_upload'|trans }}</span>
                        </a>
                    </li>
                </ul>
            </li>

            <!--
            <li class="nav-item {% if currentRoute == 'i_care_user_admin_user_index' %} active open{% endif %}">
                <a href="{{ path('i_care_user_admin_user_index', {  }) }}" class="nav-link nav-toggle">
                    <i class="fa fa-ticket"></i>
                    <span class="title">{{ 'left_sidebar.ticket'|trans }}</span>
                    {% if currentRoute == 'i_care_web_user' %}
                        <span class="selected"></span>
                    {% endif %}
                </a>
            </li>
            -->

        {% endif %}

        {% if (is_granted('ROLE_HR_ADMIN') and is_granted('ROLE_ADMIN') == false) %}
            <li class="nav-item {% if currentRoute == 'i_care_user_admin_user_index' %} active open{% endif %}">
                <a href="{{ path('i_care_user_admin_user_index', {  }) }}" class="nav-link nav-toggle">
                    <i class="icon-user"></i>
                    <span class="title">{{ 'left_sidebar.users'|trans }}</span>
                    {% if currentRoute == 'i_care_web_user' %}
                        <span class="selected"></span>
                    {% endif %}
                </a>
            </li>
        {% endif %}
    </ul>
    <!-- END SIDEBAR MENU -->
</div>