{% extends "@ICareWeb/Layout/main.html.twig" %}
{% block content %}
    <section>
        <div class="container">
            <div class="row">
                {% block fos_user_content %}{% endblock fos_user_content %}
            </div>
        </div>
    </section>
{% endblock %}