$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
  padding-top: 50px;
}

.main-container {
  padding: 40px 15px;

  a .recipe-body {
      text-decoration: none;
      color: black;
  }

}
#search-box {
    width: 300px;
    margin-top: 20px;
  background: #0088CC;
  input {
    background: #ddffdd;
    border-color: #218BC3;

  }
}
