<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
                        <span class="caption-subject bold uppercase font-grey-gallery">
                            {{ 'dashboard.blocks.active_emoployees'|trans }}
                        </span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th> Employee ID</th>
                    <th> Name</th>
                    <th> Bills</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td> 1</td>
                    <td> Bruce Wayne</td>
                    <td> $ <strong>{{ '450.25'|number_format(2, '.', ',') }}</strong></td>
                </tr>
                <tr>
                    <td> 2</td>
                    <td> Tony Stark</td>
                    <td> $ <strong>{{ '400'|number_format(2, '.', ',') }}</strong></td>
                </tr>
                <tr>
                    <td> 3</td>
                    <td> Steve Rogers</td>
                    <td> $ <strong>{{ '350'|number_format(2, '.', ',') }}</strong></td>
                </tr>
                <tr>
                    <td> 4</td>
                    <td> Peter Parker</td>
                    <td> $ <strong>{{ '140'|number_format(2, '.', ',') }}</strong></td>
                </tr>
                <tr>
                    <td> 5</td>
                    <td> Bruce Lee</td>
                    <td> $ <strong>{{ '100'|number_format(2, '.', ',') }}</strong></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>