<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject bold uppercase font-grey-gallery">
                {{ 'dashboard.blocks.actions_requires.title'|trans }}
            </span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="tab-pane active" id="portlet_comments_1">
            <div class="mt-comments">
                <div class="mt-comment">
                    <div class="mt-comment-img">
                        <i class="icon-check"></i>
                    </div>
                    <div class="mt-comment-body">
                        <div class="mt-comment-text">
                            {{ 'dashboard.blocks.actions_requires.upload_employee_list'|trans }}

                            <div class="btn-group btn-group pull-right">
                                <a class="btn btn-circle green-haze"
                                   href="{{ path('i_care_employee_import_mapping') }}">
                                    <i class="icon-cloud-upload"></i>
                                    {{ 'dashboard.blocks.actions_requires.upload_button'|trans }}
                                </a>

                            </div>
                        </div>

                    </div>

                </div>

                <div class="mt-comment">
                    <div class="mt-comment-img">
                        <i class="icon-check"></i>
                    </div>
                    <div class="mt-comment-body">
                        <div class="mt-comment-text">
                            {{ 'dashboard.blocks.actions_requires.create_users'|trans }}
                            <div class="btn-group btn-group pull-right">
                                <a class="btn btn-circle green-haze"
                                   href="{{ path('i_care_user_admin_user_add') }}">
                                    <i class="icon-user-follow"></i>
                                    {{ 'dashboard.blocks.actions_requires.create_users_button'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>