<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
                        <span class="caption-subject bold uppercase font-grey-gallery">
                            {{ 'dashboard.blocks.number_employees'|trans }}
                        </span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="dashboard-stat2 dashboard-stat2-no-padding">
            <div class="display">
                <div class="number">
                    <h3 class="font-green-sharp">
                        <span>{{ '1235'|number_format }}</span>
                    </h3>
                </div>

                <div class="number pull-right">
                    <h4 class="font-green-jungle"><i class="icon-arrow-up"></i> 12%</h4>
                </div>
            </div>
        </div>
    </div>
</div>