<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
                        <span class="caption-subject bold uppercase font-grey-gallery">
                            {{ 'dashboard.blocks.total_bills'|trans }}
                        </span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="dashboard-stat2 dashboard-stat2-no-padding">
            <div class="display">
                <div class="number">
                    <h4 class="font-grey-gallery">
                        <span>{{ "now"|date("d-M-Y") }}</span>
                    </h4>
                </div>

                <div class="number pull-right">
                    <h4 class="font-grey-gallery">$
                        <strong>{{ '800532.253'|number_format(2, '.', ',') }}</strong>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>