<div class="portlet light">
    <div class="portlet-body">
        <div class="dashboard-stat2 dashboard-stat2-no-padding">
            <div class="display">
                <div class="number">
                    <h4 class="font-grey-gallery">
                        <strong>{{ 'dashboard.blocks.turnover'|trans }}</strong>
                    </h4>
                </div>

                <div class="number pull-right">
                    <h4 class="font-green-jungle"><i class="icon-arrow-up"></i> 12%</h4>
                </div>

                <div class="number pull-right col-lg-3 col-md-3 col-sm-3">
                    <h4 class="font-grey-gallery"><strong>5%</strong></h4>
                </div>
            </div>
        </div>
    </div>
</div>