{% extends "@ICareWeb/Layout/main.html.twig" %}

{% block header_title %}{{ 'employee.icare_members.icare_members'|trans }}{% endblock %}
{% block page_title %}{{ 'employee.icare_members.icare_members'|trans }}{% endblock %}

{% block breadcrumb %}
    <li class="active">
        <span>{{ 'employee.icare_members.icare_members'|trans }}</span>
    </li>
    {% endblock %}

{% block content %}
    <div id="app"></div>
    <script type="application/javascript">
        var iCareLocale = {{ iCareLocale|json_encode|raw }};
    </script>
{% endblock %}