<div class="section about">
    <div class="well well-lg">
        <p>
            {{ 'help.app_description'|trans|raw }}
        </p>
        <p>
            {{ 'help.more_information'|trans|raw }}
        </p>
    </div>
</div>
<!-- Fragment rendered on {{ 'now'|date('r') }} -->
