<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>{% block header_title %}{% endblock %} | ICare Benefits</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    {% block stylesheets %}
        {{ include('ICareWebBundle:Blocks/Layout:head_stylesheets.html.twig') }}
    {% endblock %}

    <script type="text/javascript">
        var iCareLocale = {};
        {#var iCareWebSocketUri = '{{ websocket_dns }}';#}
        var lang = '{{ app.request.locale }}';
        {#var iCareCurrency = '{{ currency }}';#}
        {#var iCarePageSize = '{{ page_size }}';#}
        {#var iCareRoles = {{ app.user.roles|json_encode|raw }};#}
    </script>

</head>
<!-- END HEAD -->

<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="{{ path('i_care_web_dashboard') }}">
                <img height="44" src="/bundles/icareweb/img/logos/logo.png" alt="logo" class="logo-default"
                     style="margin:10px 0 0 0;"/> </a>
            <div class="menu-toggler sidebar-toggler">
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse"
           data-target=".navbar-collapse"> </a>
        <!-- END RESPONSIVE MENU TOGGLER -->

        <!-- BEGIN PAGE ACTIONS -->
        {{ include('ICareWebBundle:Blocks/Layout:page_actions.html.twig') }}
        <!-- END PAGE ACTIONS -->
        <!-- BEGIN PAGE TOP -->
        {{ include('ICareWebBundle:Blocks/Layout:page_top.html.twig') }}
        <!-- END PAGE TOP -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"></div>
<!-- END HEADER & CONTENT DIVIDER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <!-- END SIDEBAR -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        {{ include('ICareWebBundle:Blocks/Layout:siderbar.html.twig') }}
        <!-- END SIDEBAR -->
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            {#{% render(controller('ICareUserBundle:Admin/Customer:impersonatedNotification')) %}#}
            <!-- BEGIN PAGE HEADER-->
            <h1 class="page-title"> {% block page_title %}{% endblock %}
                <small>{% block short_description %}{% endblock %}</small>
            </h1>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('i_care_web_dashboard', {  }) }}">{{ 'breadcrumb.home'|trans }}</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    {% block breadcrumb %}
                    {% endblock %}
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- END PAGE HEADER-->
                    {% block content %}
                    {% endblock %}
                </div>

            </div>
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
    <!-- BEGIN QUICK SIDEBAR -->
    {#{{ include('@ICareWeb/Blocks/Layout/quick_sidebar.html.twig') }}#}
    <!-- END QUICK SIDEBAR -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
    {{ include('ICareWebBundle:Blocks/Layout:page_footer.html.twig') }}


    {% block footer_javascripts %}
        {{ include('ICareWebBundle:Blocks/Layout:footer_javascripts.html.twig') }}
    {% endblock %}
</div>
<!-- END FOOTER -->
</body>

</html>