{% extends 'base1.html.twig' %}

{% block body %}
{#{{ react_component('RecipesApp', {'props': props}) }}#}
{# redux example:#}
{{ redux_store('recipesStore', props) }}
{{ react_component('RecipesApp') }}
{##}
{% endblock %}
